@media screen and (max-width: 1200px) {
	.wrapper {
		margin: 0 auto;
		max-width: 900px;
	}

	.comments-section {
		.container {
			max-width: 100%;
		}
	}
	footer {
		.blog {
			.content {
				span {
					font-size: 12px !important;
				}
				img {
					width: 13px;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.wrapper {
		margin: 0 auto;
		max-width: 700px;
	}
	.top-info .container {
		flex-wrap: wrap;
		> div {
			justify-content: space-between;
		}
		.logo {
			width: 25%;
		}
		.call {
			padding-right: 60px;
		}
	}
	.contact-info {
		align-self: flex-end;
		width: 100%;
	}

	nav {
		.wrapper {
			padding: 0 auto;
			max-width: 1120px;
		}
		ul {
			display: none !important;
		}
		form {
			input {
				width: unset;
			}
		}
	}
}
