@media screen and (max-width: 992px) {
	.wrapper {
		margin: 0 auto;
		max-width: 700px;
	}
	.top-info .container {
		flex-wrap: wrap;
		> div {
			justify-content: space-between;
		}
		.logo {
			width: 25%;
		}
		.call {
			padding-right: 60px;
		}
	}
	.contact-info {
		align-self: flex-end;
		width: 100%;
	}

	nav {
		justify-content: flex-end;
		ul {
			display: none !important;
		}
		form {
			input {
				width: unset;
			}
		}
	}

	// Offer section
	.offer-section .left > div:not(.title) {
		width: 100%;
	}

	.about-section .top {
		column-gap: 30px;
		.img-container {
			width: 45%;
		}
	}

	.courses-section .container .card .info > div {
		img {
			width: 11px;
		}
		span {
			font-size: 11px;
			padding: 0 0 0 3px;
			letter-spacing: 0;
		}
	}

	.title h3,
	.title p {
		text-align: center;
		max-width: 450px;
	}
	.teachers-section .card-container .card {
		width: 50%;
		margin: 25px 0;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
	.wrapper {
		margin: 0 auto;
		max-width: 900px;
	}

	.comments-section {
		.container {
			max-width: 100%;
		}
	}

	// Navigation
	nav {
		margin: 0 auto;
		max-width: 900px;
	}
	footer {
		.blog {
			.content {
				span {
					font-size: 12px !important;
				}
				img {
					width: 13px;
				}
			}
		}
	}
}
