@media screen and (max-width: 320px) {
  nav .burger {
    flex-grow: 1;
    padding-left: 0;
  }
  nav .burger form {
    width: 70%;
  }
  .offer-section .left {
    padding: 0;
  }
  .offer-section .left .offers-container {
    padding: 0 0;
  }
  .offer-section .left .offers-container > div {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .offer-section .left .offers-container > div .img {
    margin-right: 0;
  }
  .offer-section .left .offers-container > div .img img {
    height: 40px;
  }
  .recent-blog .post-container .post .down .container {
    justify-content: center;
  }
  .comments-section .container {
    flex-direction: column;
    padding: 0 15px;
  }
  .comments-section .container > div {
    margin-left: 0;
  }
  .comments-section .container > div h3,
  .comments-section .container > div h4 {
    text-align: center;
  }
  footer .copyright {
    padding: 20px 0 !important;
  }
  footer .wrapper .blog .post-container .post {
    flex-direction: column;
    row-gap: 20px;
  }
  footer .wrapper .question .container > div {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
@media screen and (max-width: 769px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 565px;
  }
  .title h3 {
    font-size: 30px;
  }
  .title h3,
  .title p {
    max-width: 90%;
  }
  .top-info .container {
    flex-direction: column;
  }
  .top-info .container .contact-info {
    flex-direction: column;
    row-gap: 20px;
  }
  .top-info .container .call {
    padding-right: 0;
  }
  nav .burger {
    flex-grow: 1;
    padding-left: 5%;
  }
  nav form input {
    width: 40%;
  }
  nav .toggle-menu {
    display: flex !important;
  }
  nav ul {
    transition: all 0.7s;
    background-color: #0d1128;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 386.562px;
  }
  nav ul li {
    padding: 16px 5%;
  }
  nav ul li a {
    font-size: 20px;
  }
  .hero-section .slogan {
    align-items: center;
    text-align: center;
  }
  .hero-section .slogan h1 {
    font-size: 40px;
  }
  .hero-section .slogan P,
  .hero-section .slogan h1 {
    max-width: 100%;
  }
  .features-section {
    flex-wrap: wrap;
  }
  .features-section > div {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .offer-section .right {
    display: none;
  }
  .offer-section .left {
    width: 100%;
  }
  .offer-section .left .offers-container > div {
    width: 100%;
    padding: 20px 0;
  }
  .about-section {
    background-attachment: scroll;
  }
  .about-section .top {
    flex-direction: column;
  }
  .about-section .top .img-container {
    width: 100%;
    height: 380px;
  }
  .about-section .top > div,
  .about-section .top .right {
    width: 100%;
    padding: 30px 0;
  }
  .about-section .down {
    flex-direction: column;
    align-items: center;
  }
  .about-section .down > div {
    width: 100%;
  }
  .courses-section .container {
    flex-wrap: wrap;
  }
  .courses-section .container .card {
    width: 100%;
    padding: 30px 10px;
  }
  .courses-section .container .card .info {
    justify-content: space-around;
  }
  .teachers-section .card-container .card {
    width: 100%;
    padding: 24px 15px;
    margin-bottom: 30px;
  }
  .teachers-section .card-container .card .img-container .img {
    background-position-y: top;
  }
  .quote-form-section {
    background-attachment: scroll;
    background-position-x: 40%;
  }
  .quote-form-section .wrapper {
    min-width: unset;
    padding: 0 30px;
  }
  .quote-form-section .wrapper .right {
    width: 100%;
    margin: 80px 0;
  }
  .quote-form-section .wrapper .right form {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .quote-form-section .wrapper .right form > input,
  .quote-form-section .wrapper .right form select,
  .quote-form-section .wrapper .right form textarea,
  .quote-form-section .wrapper .right form button {
    width: 100%;
  }
  .recent-blog .post-container .post {
    width: 100%;
    margin: 20px 0;
  }
  .comments-section .container div {
    flex-direction: column;
    margin-left: 20px;
  }
  .gallery-section .img-container {
    flex-wrap: wrap;
  }
  footer .copyright {
    padding: 20px 16px;
    font-size: 14px;
  }
  footer .wrapper {
    width: 100%;
    min-width: unset;
  }
  footer .wrapper > div {
    width: 100%;
    padding: 24px 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 715px;
  }
  .top-info .container {
    flex-wrap: wrap;
  }
  .top-info .container > div {
    justify-content: space-between;
  }
  .top-info .container .logo {
    width: 25%;
  }
  .top-info .container .call {
    padding-right: 60px;
  }
  .contact-info {
    align-self: flex-end;
    width: 100%;
  }
  nav .burger {
    flex-grow: 1;
    padding-left: 10%;
  }
  nav form input {
    width: unset;
  }
  nav .toggle-menu {
    display: flex !important;
  }
  nav ul {
    transition: all 0.7s;
    background-color: #0d1128;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: -100%;
    top: 247.578px;
  }
  nav ul li {
    padding: 16px 10%;
  }
  nav ul li a {
    font-size: 20px;
  }
  .offer-section .left .offers-container > div {
    width: 100%;
  }
  .about-section .top {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
  .about-section .top .img-container {
    width: 45%;
  }
  .courses-section .container .card .info > div img {
    width: 11px;
  }
  .courses-section .container .card .info > div span {
    font-size: 11px;
    padding: 0 0 0 3px;
    letter-spacing: 0;
  }
  .title h3,
  .title p {
    text-align: center;
    max-width: 450px;
  }
  .teachers-section .card-container .card {
    width: 50%;
    margin: 25px 0;
  }
  .recent-blog .post-container .post {
    width: 50%;
    margin: 25px 0;
  }
  .comments-section .container {
    max-width: 95%;
  }
  footer .wrapper {
    min-width: 720px;
  }
  footer .wrapper > div {
    width: 50%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  .wrapper {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 915px;
  }
  .top-info .container .call {
    padding-right: 30px;
  }
  .comments-section .container {
    max-width: 100%;
  }
  nav {
    margin: 0 auto;
    max-width: 900px;
  }
  footer .blog .content span {
    font-size: 12px !important;
  }
  footer .blog .content img {
    width: 13px;
  }
}
@media screen and (min-width: 1201px) {
  .hero-section .slogan P,
  .hero-section .slogan h1 {
    max-width: 50%;
  }
}/*# sourceMappingURL=responsive.css.map */