@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary-color: #fd5f00;
$primary-dark-color: #0d1128;
$primary-text-color: #ffdfcc;
$primary-dark-text-color: #eaeaeb;
$primary-dark-300: #2f334d;
$light-color: #ffffff;
$dark-color: #323232;
$gray-color: #424242;
$light-gray: #666666;
$gradient-1: #fd610080;
$gradient-70: #fd6100af;
$border-bottom: #d8b5a269;
$gradient-2: #0d11288a;
$gradient-3: #0d1128c7;
$background-2: #fafafa;
$gray-badge: #b3b3b3;
$font-family-poppins: "Poppins", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family-poppins;
}

.wrapper {
	margin: 0 auto;
	max-width: 1120px;
}
.d-flex {
	display: flex;
}
.align-center {
	align-items: center;
	justify-items: center;
}

li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}

button,
.btn {
	background-color: $primary-color;
	color: $light-color;
	padding: 16px 20px;
	cursor: pointer;
	border-radius: 50px;
	font-size: 16px;
	transition: 0.2s;
	border: 1px solid $primary-color;
	text-align: center;
	margin: auto 0;
}
button:hover,
.btn:hover {
	background-color: transparent;
	color: $primary-color;
	border: 1px solid $primary-color;
}

// Ttile for sections info
.title {
	flex-direction: column;
	h3 {
		font-size: 45px;
		font-weight: 600;
		color: $dark-color;
	}
	p {
		color: $light-gray;
		font-size: 16px;
		padding: 30px 0;
	}

	h3,
	p {
		text-align: center;
		max-width: 900px;
		// margin: 40px auto;
	}
}

.top-info {
	background-color: $light-color;
	justify-content: space-between;
	margin: 15px auto;
	align-items: center;
	column-gap: 30px;
	div .email,
	div .call,
	.apply {
		flex-grow: 2;
	}

	.logo {
		flex-grow: 3;
		flex-direction: column;

		> p {
			font-size: 35px;
			font-weight: 900;
		}
		span {
			font-weight: 700;
			font-size: 15px;
			transform: translateY(-15px);
		}
	}

	div {
		column-gap: 15px;
	}

	div p {
		font-size: 14px;
		font-weight: 700;
	}
	div:not(.logo, .apply) > :last-child {
		font-size: 15px;
		font-weight: 300;
	}

	.apply {
		justify-content: flex-end;

		button {
			border-radius: 0;
			padding: 8px 16px;
		}
	}
}

nav {
	background-color: $primary-dark-color;
	height: 70px;
	justify-content: space-between;
	ul li {
		a[href="#home"] {
			color: $primary-color;
		}
		a {
			text-decoration: none;
			color: $light-color;
			padding: 0 18px;
			font-size: 15px;
		}
	}
	form {
		border-radius: 50px;
		background-color: $primary-dark-color;
		border: 1px solid $primary-dark-300;
		height: 80%;
		margin-right: 20px;
		justify-content: space-between;
		column-gap: 15px;

		input {
			border: none;
			background-color: $primary-dark-color;
			width: 250px;
			margin-left: 15px;
			font-weight: 500;
			font-size: 17px;

			&::placeholder,
			&:focus {
				color: $primary-dark-text-color;
			}
			&:focus {
				outline: none;
			}
			&:not(:focus) {
				color: $primary-dark-text-color;
			}
		}

		button {
			background-color: $primary-dark-color;
			border: none;
			margin-right: 20px;
			padding: 0;
		}

		button: {
			background-color: $primary-dark-color;
			border: none;
			margin-right: 20px;
			padding: 0;
		}
		box-icon {
			transform: translateY(3px);
		}
	}
}

.hero-section {
	background: linear-gradient(45deg, $gradient-2 0%, $gradient-1 100%),
		0% 0% / cover no-repeat url(../assets/images/bg_1.jpg);
	height: 600px;
	color: $light-color;

	.wrapper {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 25px;
		h1 {
			font-size: 50px;
			font-weight: 600;
			padding-top: 140px;
		}
		span {
			display: block;
		}
	}
}

.features-section {
	color: $light-color;
	> div {
		width: 25%;
		height: 320px;
		display: flex;
		flex-direction: column;
		text-align: center;
		row-gap: 10px;
		padding: 60px 20px;
	}

	h3 {
		font-weight: 500;
		font-size: 22px;
	}

	img {
		height: 60px;
	}

	.primary-light {
		background-color: $primary-color;
		p {
			color: $primary-text-color;
		}
	}
	.primary-dark {
		background-color: $primary-dark-color;
		p {
			color: $primary-dark-text-color;
		}
	}
}

.offer-section {
	justify-content: space-between;
	.left {
		display: flex;
		flex-wrap: wrap;
		width: 60%;
		padding: 40px 30px 40px 0;

		.title {
			h2 {
				font-size: 32px;
				font-weight: 500;
			}
			p {
				padding: 30px 0;
				color: $light-gray;
			}
		}

		> div:not(.title) {
			display: flex;
			width: 50%;
			padding: 30px 20px 30px 0;
			img {
				height: 80px;
				padding: 10px;
				background-color: $primary-color;
				border-radius: 50px;
				margin-right: 20px;
			}
			div {
				display: flex;
				flex-direction: column;

				h3 {
					font-weight: 500;
				}
				p {
					margin-top: 10px;
					color: $light-gray;
				}
			}
		}
	}
	.right {
		width: 40%;
		.offer-image {
			background: url(../assets/images/about.jpg) no-repeat center center /
				cover;

			height: 100%;
			width: 100%;
		}
	}
}

.about-section {
	.wrapper {
		padding: 100px 0;
	}
	background: linear-gradient(45deg, $gradient-2 0%, $gradient-70 100%),
		url(../assets/images/image_4.jpg) center center/cover no-repeat;
	// height: 20%;
	background-attachment: fixed;
	color: $light-color;

	.top {
		// fix later
		column-gap: 70px;
		img {
			height: 350px;
			width: 500px;
			overflow: hidden;
		}

		.right {
			h2 {
				font-size: 40px;
				font-weight: 600;
			}
			p {
				margin-top: 20px;
			}
		}
		margin-bottom: 50px;
	}
	.down {
		div {
			width: 25%;
			text-align: center;
			margin-bottom: 30px;
			h3 {
				font-weight: 600;
				font-size: 40px;
			}
		}
	}
}

.courses-section {
	padding: 110px 10px;
	.container {
		margin: 60px 0;
		.card {
			width: 25%;
			margin: 15px 15px;

			.img {
				background: center center/cover no-repeat;
				height: 300px;
				width: 100%;
			}
			// Information under images
			> div {
				display: flex;
				> div {
					margin: 20px 0;
					display: flex;
				}
				h5 {
					font-size: 12px;
					color: $light-gray;
					font-weight: 600;
					margin: 0 8px 0 10px;
					letter-spacing: 1px;
				}
			}

			> :last-child {
				flex-direction: column;
				h2 {
					font-size: 24px;
					font-weight: 500;
				}
				p {
					font-size: 16px;
					line-height: 30px;
					color: $light-gray;
					margin: 10px 0;
				}
			}
			button {
				width: fit-content;
				padding: 5px 10px;
			}
			> img {
				height: 300px;
				width: 100%;
			}
		}
	}
}

.teachers-section {
	padding: 110px 10px;
	background-color: $background-2;
	.card-container {
		margin: 35px 0;
		.card {
			flex-direction: column;
			margin: 0 15px;
			text-align: center;
			overflow: hidden;
			.img-container {
				height: 400px;
				overflow: hidden;
				.img {
					height: 100%;
					background: center center/ cover no-repeat;
					transition: 0.3s;
				}
			}
			.social-container {
				justify-content: center;
				column-gap: 10px;
				opacity: 0;
				transition: 0.3s all ease;
				li {
					img {
						height: 20px;
					}
				}
				div {
					margin: 0 5px;
					row-gap: 10px;
				}
			}

			.name {
				font-size: 23px;
				font-weight: 600;
				padding: 15px 0 5px 0;
			}
			.role {
				letter-spacing: 2px;
				font-size: 13px;
				font-weight: 600;
				color: $primary-color;
			}
			p {
				color: $light-gray;
				padding-top: 10px;
			}

			&:hover {
				.img-container {
					.img {
						transform: scale(103%) translateY(-4px);
					}

					// .img::after {
					// 	content: "";
					// 	background: url(../assets/icons/calendar-bold.svg) center
					// 		center/cover no-repeat;
					// 	height: 100px;
					// 	width: 100px;
					// 	bottom: 10px;
					// 	left: 10px;
					// 	position: absolute;
					// }
				}
				.social-container {
					transform: translateY(-30px);
					opacity: 1;
				}
			}
		}
	}
}
.quote-form-section {
	background: linear-gradient(-110deg, $gradient-3 0%, $gradient-70 100%),
		url(../assets/images/bg_5.jpg) center center/ cover no-repeat;
	background-attachment: fixed;
	.wrapper {
		flex-direction: column;
		min-width: 500px;
		row-gap: 40px;
		align-items: flex-end;
		.right {
			width: 450px;
			flex-direction: column;
			color: $light-color;
			margin: 80px 50px;
			row-gap: 20px;

			h2 {
				font-size: 40px;
				font-weight: 600;
			}

			form {
				padding: 30px 0;
				flex-wrap: wrap;
				row-gap: 30px;
				column-gap: 20px;
				justify-content: space-between;
				input,
				select,
				textarea {
					background-color: transparent;
					border: none;
					border-bottom: 1px solid $border-bottom;
					width: 47%;
					height: 60px;

					&:focus {
						outline: none;
						color: $primary-dark-text-color;
						font-size: 16px;
					}
				}
				::placeholder,
				select {
					color: $primary-dark-text-color;
					font-size: 16px;
				}

				button {
					width: 47%;
				}
				textarea {
					resize: none;
				}
				option {
					color: $primary-color;
				}
			}
		}
	}
}

.recent-blog {
	background-color: $background-2;
	padding: 110px 0;
	.post-container {
		column-gap: 30px;
		.post {
			background-color: $light-color;
			display: flex;
			flex-direction: column;
			h4 a {
				font-size: 20px;
				font-weight: 400;
			}
			p {
				color: $light-gray;
				padding: 15px 0;
				line-height: 1.8em;
			}

			.down {
				padding: 25px;
				.container {
					display: flex;
					justify-content: space-between;
					h3 {
						justify-self: flex-start;
					}

					.btn {
						padding: 5px 15px;
					}

					.info {
						display: flex;
						justify-content: flex-end;
						column-gap: 10px;
						align-items: center;

						h3 {
							font-size: 16px;
							font-weight: 400;
							color: $primary-color;
						}
						> :last-child {
							color: $gray-badge;
						}
					}
				}
			}
		}
		.img-container {
			height: 280px;
		}
		.img {
			width: 100%;
			height: 100%;
			background: center center/ cover no-repeat;
		}
	}
}
