@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$primary-color: #fd5f00;
$light-color: #ffffff;
$dark-color: #232323;
$font-family-poppins: "Poppins", sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family-poppins;
}

.top-info {
	background-color: $light-color;
	.wrapper {
		margin: 20px auto;
		align-items: center;
		column-gap: 20px;
		div .email,
		div .call,
		.apply {
			width: 23%;
		}

		.logo {
			width: 31%;
			flex-direction: column;

			> p {
				font-size: 35px;
				font-weight: 900;
			}
			span {
				font-weight: 700;
				font-size: 15px;
				transform: translateY(-15px);
			}
		}

		div {
			column-gap: 15px;
		}

		div p {
			font-size: 14px;
			font-weight: 700;
		}
		div:not(.logo) > :last-child {
			font-size: 15px;
			font-weight: 300;
		}
	}

	.apply {
		justify-content: flex-end;

		button {
			background-color: $primary-color;
			color: $light-color;
			border: none;
			width: 100px;
			padding: 8px;
		}
	}
}
.d-flex {
	display: flex;
}
.align-center {
	align-items: center;
	justify-items: center;
}
.wrapper {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 80%;
}
