@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
  justify-items: center;
}

button {
  background-color: #fd5f00;
  color: #ffffff;
  padding: 16px 20px;
  cursor: pointer;
  border-radius: 50px;
  font-size: 16px;
  transition: 0.2s;
  border: 1px solid #fd5f00;
}

button:hover {
  background-color: transparent;
  color: #fd5f00;
  border: 1px solid #fd5f00;
}

.top-info {
  background-color: #ffffff;
  justify-content: space-between;
  margin: 15px auto;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.top-info div .email,
.top-info div .call,
.top-info .apply {
  flex-grow: 2;
}
.top-info .logo {
  flex-grow: 3;
  flex-direction: column;
}
.top-info .logo > p {
  font-size: 35px;
  font-weight: 900;
}
.top-info .logo span {
  font-weight: 700;
  font-size: 15px;
  transform: translateY(-15px);
}
.top-info div {
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.top-info div p {
  font-size: 14px;
  font-weight: 700;
}
.top-info div:not(.logo, .apply) > :last-child {
  font-size: 15px;
  font-weight: 300;
}
.top-info .apply {
  justify-content: flex-end;
}
.top-info .apply button {
  border-radius: 0;
  padding: 8px 16px;
}

nav {
  background-color: #0d1128;
  height: 70px;
  justify-content: space-between;
}
nav ul li {
  list-style-type: none;
}
nav ul li a[href="#home"] {
  color: #fd5f00;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  padding: 0 18px;
  font-size: 15px;
}
nav form {
  border-radius: 50px;
  background-color: #0d1128;
  border: 1px solid #2f334d;
  height: 80%;
  margin-right: 20px;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
  button-background-color: #0d1128;
  button-border: none;
  button-margin-right: 20px;
  button-padding: 0;
}
nav form input {
  border: none;
  background-color: #0d1128;
  width: 250px;
  margin-left: 15px;
  font-weight: 500;
  font-size: 17px;
}
nav form input::-moz-placeholder {
  color: #cfcfd4;
}
nav form input::placeholder, nav form input:focus {
  color: #cfcfd4;
}
nav form input:focus {
  outline: none;
}
nav form input:not(:focus) {
  color: #cfcfd4;
}
nav form button {
  background-color: #0d1128;
  border: none;
  margin-right: 20px;
  padding: 0;
}
nav form box-icon {
  transform: translateY(3px);
}

.hero-section {
  background: linear-gradient(45deg, rgba(13, 17, 40, 0.5411764706) 0%, rgba(253, 97, 0, 0.5019607843) 100%), 0% 0%/cover no-repeat url(../assets/images/bg_1.jpg);
  height: 600px;
  color: #ffffff;
}
.hero-section .wrapper {
  flex-direction: column;
  align-items: flex-start;
  row-gap: 25px;
}
.hero-section .wrapper h1 {
  font-size: 50px;
  font-weight: 600;
  padding-top: 140px;
}
.hero-section .wrapper span {
  display: block;
}

.features-section {
  color: #ffffff;
}
.features-section > div {
  width: 25%;
  height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 10px;
  padding: 60px 20px;
}
.features-section h3 {
  font-weight: 500;
  font-size: 22px;
}
.features-section img {
  height: 60px;
}
.features-section .primary-light {
  background-color: #fd5f00;
}
.features-section .primary-light p {
  color: #ffdfcc;
}
.features-section .primary-dark {
  background-color: #0d1128;
}
.features-section .primary-dark p {
  color: #cfcfd4;
}

.offer-section {
  justify-content: space-between;
}
.offer-section .left {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 40px 30px 40px 0;
}
.offer-section .left .title h2 {
  font-size: 32px;
  font-weight: 500;
}
.offer-section .left .title p {
  padding: 30px 0;
  color: #666666;
}
.offer-section .left > div:not(.title) {
  display: flex;
  width: 50%;
  padding: 30px 20px 30px 0;
}
.offer-section .left > div:not(.title) img {
  height: 80px;
  padding: 10px;
  background-color: #fd5f00;
  border-radius: 50px;
  margin-right: 20px;
}
.offer-section .left > div:not(.title) div {
  display: flex;
  flex-direction: column;
}
.offer-section .left > div:not(.title) div h3 {
  font-weight: 500;
}
.offer-section .left > div:not(.title) div p {
  margin-top: 10px;
  color: #666666;
}
.offer-section .right {
  width: 40%;
}
.offer-section .right .offer-image {
  background: url(../assets/images/about.jpg) no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

.about {
  background: linear-gradient(45deg, rgba(13, 17, 40, 0.5411764706) 0%, rgba(253, 97, 0, 0.7411764706) 100%), url(../assets/images/image_4.jpg) center center/cover no-repeat;
  height: 20%;
  background-attachment: fixed;
  color: #ffffff;
}
.about .wrapper {
  padding: 100px 0;
}
.about .top {
  -moz-column-gap: 70px;
       column-gap: 70px;
  margin-bottom: 50px;
}
.about .top img {
  height: 350px;
  width: 500px;
  overflow: hidden;
}
.about .top .right h2 {
  font-size: 40px;
  font-weight: 600;
}
.about .top .right p {
  margin-top: 20px;
}
.about .down div {
  width: 25%;
  text-align: center;
  margin-bottom: 30px;
}
.about .down div h3 {
  font-weight: 600;
  font-size: 40px;
}/*# sourceMappingURL=style.css.map */